@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palet:
#97B2C7
#6E0D30
#005E7A
#001022
#E80638 */

html, body {
  width: 100%;
  height: 100%;
  background: url(https://i.postimg.cc/CxT72YYz/digital-art-artwork-illustration-Mitsubishi-Mitsubishi-Lancer-Evo-X-smoke-2285514-wallhere-com.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(#0003,#000);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .landing-page header .logo {
    color: white;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 30px;
    top: 5%;
    left: 5%;
    position: absolute;
  }

  .landing-page header .links {
    top: 5%;
    display: flex;
    position: absolute;
    right: 10%;
    justify-content: space-between;
    z-index: 1;
    text-decoration: none;
  }


  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #E80638;
    font-weight: bolder;

  }
  .landing-page header .links li:last-child:hover {
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    box-shadow: 0 0 20px white;
  }

  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }

  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    text-align: center;
    color: white;
  }
  /* End Landing Page */
  
  /* About Page */
  .about h1{
    color: white;
    font-size: 60px;
    padding-left: 50px;
    padding-top: 50px;
  }
  
  .about p{
    margin: 0;
    font-size: 20px;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
  }
  /* Shoes Page */ 
  
  
  /* Clothes Page */
  .product-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3rem;
    gap: 20px;
    padding: 20px;
    left: 20%;
    top: 15%;
  }
  
  .product-container .product {
    background-color: black;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .product-container .product img {
    width: 200px;
    height: 200px;
  }
  
  .product-container .price {
    font-weight: bold;
    color: #007BFF;
  }
  
  /* Contact Page */


  /* Animation Setttings */

  